.titulo {
  font-family: monospace;
  color: darkred;
  font-size: 45px;
  margin-top: 30px;
}

.pregunta {
  font-family: monospace;
  font-size: 25px;
  color: darkgray;
}

.mini_box {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.nav {
  margin: 15px;
  color: #fff;
  text-decoration: none;
  border: #fff;
  padding: 8px;
  width: 7%;
  font-family: monospace;
  margin-top: 15px;
  background: black;
  border-radius: 0px;
}
