.buscar input {
  height: 6vh;
  width: 25vw;
  font-family: monospace;
  font-size: 16px;
  border-radius: 30px;
  background: tomato;
  margin: 0 20px;
  border: 1px solid white;
  color: beige;
  padding: 15px;
  box-shadow: 0 0 3px rgb(255 240 243), 0 0 6px rgb(255, 0, 47),
    0 0 9px rgb(255, 174, 174), 0 0 12px rgb(255, 108, 108),
    0 0 15px rgb(255 89 43), 0 0 18px rgb(255, 0, 0);
}

::placeholder {
  color: whitesmoke;
  padding: 4px;
}

/* .btn {
  background-color: #6d6875;
  color: #ffcdb2;
  height: 25px;
  margin-top: 6px;
}

.btn:hover {
  background-color: #e5989b;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}*/

.btn {
  background-color: #2b2d42;
  border: none;
  cursor: pointer;
}

.btn img {
  height: 35px;
  margin: -11px;
}
.btn:active {
  background-color: darkgrey;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
